.panel.panel-default
  .panel-heading Sign up
  .panel-body
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal', :role => 'form' }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email, class: 'control-label col-lg-2'
        .col-lg-4
          = f.email_field :email, :autofocus => true, class: 'form-control'
      .form-group
        = f.label :name, class: 'control-label col-lg-2'
        .col-lg-4
          = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :password, class: 'control-label col-lg-2'
        .col-lg-4
          = f.password_field :password, class: 'form-control'
      .form-group
        = f.label :password_confirmation, class: 'control-label col-lg-2'
        .col-lg-4
          = f.password_field :password_confirmation, class: 'form-control'

      =f.submit "Sign up", class: 'btn btn-primary'
= render "devise/shared/links"