.header
  %ul.nav.nav-pills.pull-right
    %li.active= link_to t('.home'), '#'
    %li= link_to t('.sign_in'), '#'
    %li= link_to t('.books'), '#'
    %li= link_to t('.sign_out'), '#'
  %h3.text-muted= t('.title')